# Log files
*.log

# htaccess
.htaccess

# the build directories
dist
deploy

# node modules
node_modules

# vendor files
vendor

# environment
.env

# generatable language files
languages/*.pot
languages/*.mo
languages/*.json

