#memberdata_ranking-frontend {
    input[type="text"], input[type="text"]:focus {
        border-width: 0px;
    }

    .el-button {
        background-image: none;
    }

    .grid-header {
        display: flex;
        flex-direction: column;

        label {
            width: 100px;
        }

        .grid-actions {
            padding: 10px 0;

            button {
                float: right;
            }
        }
    }

    .grid {
        table {
            tr.isdirty {
                td {
                    color: #f33;
                }
            }
        }
    }

    .el-dialog {
        footer {
            float: none;
            width: auto;
        }
    }
}
