#memberdata_ranking-admin {
    input[type="text"], input[type="text"]:focus {
        border-width: 0px;
    }

    .grid-header {
        display: flex;
        flex-direction: column;

        label {
            width: 100px;
            display: inline-block;
        }

        .grid-actions {
            padding: 10px 0;
        }
    }

    .grid {
        table {
            tr.isdirty {
                td {
                    color: #f33;
                }
            }
        }
    }
}
